# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# List dir contents aliases (http://ss64.com/osx/ls.html)
alias ls="ls -G"
alias la="ls -oa"

alias dc="docker-compose"
alias k="kubectl"
alias tf="terraform"
alias reload="source ~/.zshrc"

# Git Shortcuts for the super lazy
alias g="git"
alias st="git st"
alias cm="git cm"
alias lp="git lp"

# # Azure CLI
# alias azsubs="az account list --query \"[].{name:name, subscriptionId:id}\""

# File size
alias fs="stat -f \"%z bytes\""



alias d='cd ~/Developer/'

alias tf='terraform'

alias k='kubectl'

alias start='minikube start —driver=docker --alsologtostderr'

alias stop='minikube delete'

alias s='minikube service'

alias wk='watch kubectl get pods'

alias l='/Users/bradpottinger/Developer/QA_Course/M4/Flask_Booking_System/scripts/log-vars.sh'

alias a='kubectl apply -f'

alias b='kubectl delete -f'

alias ll='ls -al'

autoload -Uz compinit && compinit